<meta charset="utf-8" />
<title><%- title %> | Tailwick NodeJS - Admin & Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta content="Minimal Admin & Dashboard Template" name="description">
<meta content="Themesdesign" name="author">
<!-- App favicon -->
<link rel="shortcut icon" href="/assets/images/favicon.ico">